<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toolkit.imagepicker">

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Android 12 及以下需要存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Android 13+ 使用分区存储权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application>

        <!-- 图片选择透明 Activity -->
        <activity
            android:name="com.toolkit.imagepicker.ImagePickerActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <!-- FileProvider (Android 7.0+ 拍照需要) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.toolkit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/toolkit_imagepicker_paths" />
        </provider>

    </application>

</manifest>
